
/*----------  MENU  ----------*/

.cabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion__lista{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/*----------  SECCION PRESENTACION  ----------*/


.presentacion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 0;
}

.presentacion__contenedor{
    flex-basis: 60%;
}

.redes{
    display: flex;
    gap: 20px;
}



/*=============================================
=            TABLET - MOVIL            =
=============================================*/

@media (max-width:1024px) and (min-width: 320px){
    
    /*----------  MENÚ  ----------*/

    .navegacion__elemento:nth-child(1), .navegacion__elemento:nth-child(2), .navegacion__elemento:nth-child(3),
    .navegacion__elemento:nth-child(4),
    .navegacion__elemento:nth-child(5){
        display: none;
    }
    
}

/*=====  End of TABLET - MOVIL  ======*/




/*=============================================
=            TABLET            =
=============================================*/

@media (max-width:1024px) and (min-width: 768px){
    
    .presentacion__contenedor{
        flex-basis: 70%;
    }
    
}

/*=====  End of TABLET  ======*/




/*=============================================
=            MOVIL            =
=============================================*/

@media (max-width:480px) and (min-width: 320px){

    .presentacion{
        flex-direction: column;
    }

    .presentacion__foto{
        align-self: center;
    }
}


/*=====  End of MOVIL  ======*/