:root{
    --color-fondo: #F9FFFA;
    --color-texto: #137047;
    --azul-oscuro: #243D44;
    --azul-medio: #167A8B;
    --verde-claro: #2DEA8F;
    --verde-medio-oscuro: #24B273;
}


.cabecera {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navegacion__elemento{
    transition: all 0.3s ease;
}

.navegacion__elemento:nth-child(6){
    font-weight: bold;
    color: var(--verde-medio-oscuro);
}

.navegacion__elemento:hover, .redes__img:hover{
    box-shadow: 0 3px 0 var(--verde-medio-oscuro);
    transition: all 0.3s ease;
}

.presentacion{
    margin: 150px auto;
}

.presentacion__foto{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.presentacion__titulo{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--azul-oscuro);
}

.presentacion__subtitulo, .redes{
    margin-top: 30px;
    font-weight: lighter;
}

.redes__img{
    font-size: 0.9rem;
}





/*=============================================
=            TABLET            =
=============================================*/

@media (max-width:1024px) and (min-width: 768px){

    .navegacion__elemento:nth-child(6){
        font-size: 1.7rem;
    }

    .presentacion{
        margin: 100px 10px;
    }

    .presentacion__titulo{
        font-size: 2rem;
    }

    .presentacion__subtitulo, .redes{
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-top: 17px;
    }

    .redes__img{
        font-size: 1.4rem;
    }
}


/*=====  End of TABLET  ======*/





/*=============================================
=            MOVIL            =
=============================================*/


@media (max-width:480px) and (min-width: 320px){
    .cabecera__logo{
        height: 40px;
    }

    .navegacion__elemento:nth-child(6){
        font-size: 1.5rem;
    }

    .presentacion{
        margin: 60px 15px;
    }

    .presentacion__titulo{
        font-size: 1.8rem;
        margin-top: 20px;
    }

    .presentacion__subtitulo{
        font-size: 1.3rem;
    }

    .redes__img{
        font-size: 0.8rem;
    }
}


/*=====  End of MOVIL  ======*/