:root{
    --color-fondo: #F9FFFA;
    --color-texto: #137047;
    --azul-oscuro: #243D44;
    --azul-medio: #167A8B;
    -verde-claro: #2DEA8F;
    --verde-medio-oscuro: #24B273;
}


.cabecera {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navegacion__elemento{
    transition: all 0.3s ease;
}

.navegacion__elemento:nth-child(6){
    font-weight: bold;
}

.navegacion__elemento:hover{
    box-shadow: 0 3px 0 var(--verde-medio-oscuro);
    transition: all 0.3s ease;
}


/*=============================================
=            MOVIL            =
=============================================*/


@media (max-width:480px) and (min-width: 320px){
    .cabecera__logo{
        height: 40px;
    }
}


/*=====  End of MOVIL  ======*/