:root{
    --color-fondo: #F9FFFA;
    --color-texto: #137047;
    --azul-oscuro: #243D44;
    --azul-medio: #167A8B;
    --verde-claro: #2DEA8F;
    --verde-medio-oscuro: #24B273;
}


/*----------  MENU  ----------*/

.cabecera {
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navegacion__elemento{
    transition: all 0.3s ease;
}

.navegacion__elemento:nth-child(6){
    font-weight: bold;
    color: var(--verde-medio-oscuro);
}

.navegacion__elemento:hover, .redes__img:hover{
    box-shadow: 0 3px 0 var(--verde-medio-oscuro);
    transition: all 0.3s ease;
}


/*----------  SECCION PRESENTACION  ----------*/

.presentacion{
    margin: 150px auto;
}

.presentacion__foto{
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.presentacion__titulo{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--azul-oscuro);
}

.presentacion__subtitulo, .redes{
    margin-top: 30px;
    font-weight: lighter;
}

.redes__img{
    font-size: 0.9rem;
}


/*----------  SECCION SOBRE MI  ----------*/

.sobre-mi{
    background-color: #2dea8f1a;
    padding-top: 20px;
    padding-bottom: 30px;
}

.sobre-mi__texto{
    width: 65%;
    margin: 15px 170px;
}

.sobre-mi__titulo{
    font-size: 1.7rem;
    color: var(--azul-oscuro);
    font-weight: bold;
    padding-top: 30px;
    margin: 30px 170px;
}

/*----------  SECCIÓN HABILIDADES  ----------*/

.habilidades__titulo{
    text-align: center;
    font-size: 1.4rem;
    color: var(--azul-oscuro);
    font-weight: bold;
    margin-top: 100px;
}

.habilidades__lista{
    margin: 60px 400px;
}

.habilidades__elemento{
    margin-bottom: 20px;
}

.habilidades__nombre{
    color: #fff;
    padding-top: 7px;
    padding-left: 10px;
    height: 23px;
    width: 90px;
}

.habilidades__nombre-html{
    background-color: rgb(186, 52, 4);
}

.habilidades__nombre-css{
    background-color: #12616f;
}

.habilidades__nombre-javascript{
    background-color: rgb(137, 137, 0);
}

.habilidades__nombre-php{
    background-color: #0a3841;
}

.habilidades__nombre-react{
    background-color: rgb(46, 21, 138);
}


.habilidades__progress{
    width: 100%;
    height: 30px;
    background-color: gray;
    border-radius: 5px;
}

.habilidades__progress .progress-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 3s;
}

.progress__bar-html{
    background-color: rgb(229, 88, 37);
}

.progress__bar-css{
    background-color: var(--azul-medio);
}

.progress__bar-javascript{
    background-color: rgb(193, 193, 8);
}

.progress__bar-php{
    background-color: #0f5f6f;
}

.progress__bar-react{
    background-color: rgb(86, 40, 253);
}

.habilidades__porcentaje{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}


/*=============================================
=            TABLET            =
=============================================*/

@media (max-width:1024px) and (min-width: 768px){

    .navegacion__elemento:nth-child(6){
        font-size: 1.7rem;
    }

    .presentacion{
        margin: 100px 10px;
    }

    .presentacion__titulo{
        font-size: 2rem;
    }

    .presentacion__subtitulo, .redes{
        font-size: 1.6rem;
        letter-spacing: 1px;
        margin-top: 17px;
    }

    .redes__img{
        font-size: 1.4rem;
    }

    .sobre-mi__texto{
        width: 93%;
        margin: 15px 30px;
        font-size: 1.3rem;
    }

    .sobre-mi__titulo{
        font-size: 1.9rem;
        padding-top: 30px;
        margin: 30px 30px;
    }

    .habilidades__lista{
        margin: 60px 100px;
    }
}


/*=====  End of TABLET  ======*/





/*=============================================
=            MOVIL            =
=============================================*/


@media (max-width:480px) and (min-width: 320px){
    .cabecera__logo{
        height: 40px;
    }

    .navegacion__elemento:nth-child(6){
        font-size: 1.5rem;
    }

    .presentacion{
        margin: 60px 15px;
    }

    .presentacion__titulo{
        font-size: 1.8rem;
        margin-top: 20px;
    }

    .presentacion__subtitulo{
        font-size: 1.3rem;
    }

    .redes__img{
        font-size: 0.8rem;
    }

    .sobre-mi__texto{
        width: 93%;
        margin: 0px 15px;
        font-size: 1.4rem;
    }

    .sobre-mi__titulo{
        font-size: 1.9rem;
        padding-top: 30px;
        margin: 20px 15px;
    }

    .habilidades__lista{
        margin: 60px 30px;
    }
}


/*=====  End of MOVIL  ======*/